
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='w3.css') }}">
    <title>COVID-19 Dashboard</title>
</head>

<body>
<header class="w3-container w3-red w3-center">
    <h3 style="color:white"><br>Coronovirus Disease (COVID-19) Dashboard<br><br></h3>
</header>

<div class="w3-container w3-center w3-content" >
    <p class="w3-justify"><br><br> COVID-19 is a respiratory illness caused by a family of viruses. Symptoms include fever,
        coughing, sore throat and shortness of breath ranging from mild to very severe conditions. 
        It is a contiguous virus which started from Wuhan in December 2019.
        WHO later declared it as Pandemic due to high rate spreads throughout the world.<br>
        COVID-19 spreads faster than other diseases, like common cold. 
        Currently the goal of all scientists around the world is to "Flatten the Curve". 
        Currently, COVID-19 has exponential growth rate around the world which we will be seeing in the analysis ahead. 
        Every Pandemic has four stages: <br>
        Stage 1: Confirmed Cases come from other countries<br>
        Stage 2: Local Transmission Begins<br>
        Stage 3: Communities impacted with local transimission<br>
        Stage 4: Significant Transmission with no end in sight<br>
        USA is currently leading in Stage 4. While India is in on the edge of Stage 3.</p>
</div>

<div class="w3-row-padding w3-margin-top">
    <h2 class= "w3-center w3-text-red">Coronavirus Cases (Real-time)<br><br></h2>
    <div class = "w3-half">
        <div class = "w3-card">
            {{world_summary_c1 | safe}}
        </div>
    </div>

    <div class = "w3-half">
        <div class = "w3-card">
            {{india_summary_c1 | safe}}
        </div>
    </div>
</div>

<div><br><br></div>

<div class="w3-row-padding w3-margin-top">
    <h2 class= "w3-center w3-text-red">Countries leading in confirmed cases and reported deaths (Real-time)<br><br></h2>
    <div class = "w3-half">
        <div class = "w3-card">
            {{world_confirmed_cases_c1 | safe }}
        </div>
    </div>

    <div class = "w3-half">
        <div class = "w3-card">
            {{world_reported_deaths_c1 | safe}}
        </div>
    </div>
    <div class = "w3-container">
        <p> The first death linked to the disease was reported on January 10 in Wuhan, China.
        It took 91 days for the death toll to pass 1,00,000 and a further 16 days to reach 2,00,000.It took 19 days to go from 200,000 
        to 300,000 deaths.
        </p> 
    </div>   
</div>

<div><br><br></div>

<div class="w3-row-padding w3-margin-top">
    <h2 class= "w3-center w3-text-red">Trend of COVID-19 in India<br><br></h2>
    <div class = "w3-card">
        {{india_total_cases_c1 | safe}}
    </div>
   <div class = "w3-container">
    <p class="w3-small">Source last updated on 16 May 2020 </p>   
    <p>Though being highly populated the relative confimred cases of India is low compared to other countries. 
    This could be because of two reasons: Lockdown imposed by prime minister Narendra Modi at the critical time
    and Low testing rate</p>
   </div>
</div>

<div><br></div>

<div class="w3-row-padding w3-margin-top">
    <h2 class= "w3-center w3-text-red">India - COVID-19 Statewise Status (Real-time)<br><br></h2>
    <div class = "w3-card">
        {{india_states_table_t1 | safe}}
    </div>
 </div>  

<div><br><br></div>

<div class="w3-row-padding w3-margin-top">
    <h2 class= "w3-center w3-text-red">Covid-19 spread across the states in India<br><br></h2>
    <div class = "w3-card">
        {{india_states_cases_c1 | safe}}
    </div>
   <div class = "w3-container">
    <p>Maharashtra is leading. According to the health department officials of Maharashtra, 
        Intensive contact tracing, testing and quarantining of high-risk individuals has contributed to the consistently 
        high numbers</p>
   </div>
</div>

<div><br></div>

<div class="w3-row-padding w3-margin-top">
    <h2 class= "w3-center w3-text-red">India - Age-Group wise distribution of COVID-19<br><br></h3>
    <div class = "w3-card">
        {{india_agewise_c1 | safe}}
    </div>
   <div class = "w3-container">
    <p class="w3-small">Source last updated on 16 May 2020 </p>
   </div>
</div>

<div class = "w3-container">
    <p>Journey of different Countries in COVID-19. <br>
    When we see daily news reports on COVID-19 it's really hard to interpret what's actually happening, 
    since the numbers are changing so rapidly but that's something expected from Exponential growth. 
    Since almost all the pandemics tend to grow exponentially it's really hard to understand for someone from a non-mathematical or
    non-statistical background. We are more concerned about how we are doing and where we are heading in this pandemic rather than 
    just looking at those exponentially growing numbers. The growth won't be exponentially forever. 
    At some point of time the curve will become flat. We humans will be able to control this pandemic like we did in the 
    past.<br><br></p>
</div>

<footer class="w3-container w3-red w3-margin-top">
    <p>Developed by <a href="https://www.github.com/ysujata">Sujata</a> as a part of COVID-19 Data Analytics project for <a href="https://www.aimlcommunity.com">AIML Community</a> on 21 May 2020 </p>
  </footer>
</body>

</html>